{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "quoteProps": "consistent",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "printWidth": 120,
  "singleAttributePerLine": true,
  "importOrder": ["^(components|constants|hooks|store|types|utils)/(.*)$", "^assets/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
